  <div class="wrapper" *ngIf="showSummary">
      <p class="summary-title">Summary:</p>
      <p class="summary-text">
        To prepare: {{drinkList}} you will need: <br>
      </p>
      <ul>
        <li *ngFor="let ingredient of ingredients">
            {{ingredient.volume ? ingredient.volume+' ml of '+ingredient.name : ''}}
            {{ingredient.mass ? ingredient.mass+' g of '+ingredient.name : ''}}
            {{ingredient.quantity ? ingredient.quantity+ ' x '+ingredient.name : ''}}
        </li>
      </ul>
      <p class="summary-text">
        which will cost you approximately: {{cost}} zł.
      </p>
      <p class="summary-text">
        Total amount of alcohol in prepared coctails will be aproximately {{ethanolMass}}, which is equal to ~{{ethanolMass/lethalDose}} of lethal dose. <br>
        Have fun!
      </p>
  </div>