.main-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    height: 400px;
}

app-board {
    width: 40%;
}

app-drink-list {
    width: 60%;
}

.summary-section {
    width: 100%;
    background: #c8bf9b;
    padding: 15px;
    box-sizing: border-box;
    min-height: 100vh;
}