.title {
    color: #707070;
    font-size: 32px;
    margin: 10px 0;
}

.example-div {
    width: 60px;
    height: 40px;
    background-color: red;
    margin: 10px 0;
}

input {
    margin: 10px 0;
    width: 300px;
}

.small {
    width: 30px;
    height: 20px;
}

.medium {
    width: 45px;
    height: 30px;
}

.large {
    width: 60px;
    height: 40px;
}