<section class="search-section">
  <div class="input-box">
      <input type="text" class="search-input" placeholder="What do you have in your fridge?">
      <button class="btn">Search!</button>
  </div>
  <button class="btn btn-wide">Show All</button>
  <ul class="search-results-list">
    <li class="search-results-item" *ngFor="let result of results">
      <div class="search-result-description">
          <p class="search-result-name">{{result?.name}}</p>
          <p class="search-result-ingredients">{{result?.ingredients.join()}}</p>
      </div>
      <img src="{{result?.imgSrc}}" class="search-result-image">
      <img src="../../assets/plus.png" class="add-result-image">
    </li>
  </ul>
</section>